/* Use the 'Inter' font family defined in the HTML */
body {
	font-family: "Inter", sans-serif;
}

/* Custom scrollbar for a more modern look */
.custom-scrollbar::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: #f1f5f9; /* slate-100 */
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #cbd5e1; /* slate-300 */
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #94a3b8; /* slate-400 */
}

/* Smooth transition for collapsible section */
#raw-data-content {
	transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
}

/* Rotation for toggle icon */
.rotate-180 {
	transform: rotate(180deg);
}
